<%= render 'form' %>
<br>
<div class="container">
  <div class="">
    <% @posts.each do |post| %>
    <div class="">
      <div>
        <%= post.artist %> <%= post.song %>
      </div>
    </div>
    <% end %>
  </div>
</div>
