// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#video-placeholder {
  display: none;
  position: absolute;
  bottom: 100px;
  right: 100px;
}
.play:hover, .pause:hover {
  color: pink;
  cursor: pointer;
}
.controls {
  display: none;
}
#play {
  display: inline-block;
}
